@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif;
}
#wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-color: #16161a;
}

.main_container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    margin: 5rem;
    margin-top: 8rem;
}
.main_container_section {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.main_heading {
    font-size: 3rem;
    font-weight: 700;
}
.left_container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-left: 8rem;
}
.main_para {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: #ced4da;
}
.button_group {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}
.hero_image {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}
.click_button {
    padding: 1rem;
}
.get_btn {
    background-color: #4361ee;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 0.3rem;
}
.learn_btn {
    background-color: #16161a;
    color: #4361ee;
    border-color: #4361ee;
    border-radius: 0.3rem;
    font-weight: 500;
}
.about_us_container {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 10rem;
}
.about_heading {
    color: #fff;
    font-size: 2.5rem;
}
.about_section {
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
}
.about_head {
    color: #fff;
}
.about_para {
    color: #ced4da;
    font-size: 1.2rem;
    width: 60%;
    line-height: 1.8rem;
}
.about_card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.expertise_container {
    background-color: #16161a;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 8rem;
}
.expertise_section {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.expertise_card {
    width: 40%;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    margin-left: 4rem;
}
.expertise_head {
    font-size: 2.5rem;
    color: #fff;
}
.expertise_right_side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.bullets {
    background-color: #4361ee;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
.expertise_sub_head {
    color: #fff;
}
.expertise_sub_para {
    color: #ced4da;
}
.advertising_container {
    margin-top: 8rem;
}
.advertising_section {
    display: flex;
}
.advertising_left_container {
    width: 40%;
    margin-left: 6rem;
    padding: 2rem;
}
.advertising_image {
    height: 100%;
    border-radius: 1rem;
}
.advertising_right_container {
    margin-top: 2rem;
}
.advertising_head {
    font-size: 2.5rem;
    color: #fff;
}
.digital_procedure {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.advertising_sub_head {
    font-size: 2rem;
    color: #fff;
}
.advertising_sub_para {
    margin-top: 2rem;
    font-size: 1.2rem;
    width: 60%;
    color: #ced4da;
}

.engaging_design {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 8rem;
}

.engaging_design_head {
    font-size: 2.5rem;
    color: #fff;
}

.engaging_design_section {
    display: flex;
    gap: 2rem;
}

.engaging_design_card {
    margin-top: 5rem;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.engaging_design_sub_head {
    font-size: 2rem;
    color: #fff;

}
.engaging_design_para {
    margin-top: 3rem;
    width: 90%;
    height: 100%;
    border: 1px solid #ced4da;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    color: #16161a;

}

.performance_container {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 8rem;
}

.performance_head {
    font-size: 2.5rem;
    color: #fff;
}

.performance_container_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 1rem;
}

.performance_container_card {
    width: 40%;
    height: 60%;
    border: 1px solid green;
    margin-top: 5rem;
    padding: 2rem;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    border-radius: 1rem;
}

.performance_sub_head {
    color: #fff;
    font-size: 1.5rem;
}

.performance_sub_para {
    color: #16161a;
    margin-top: 1rem;
    font-size: 1.2rem;
}
.testimonials_container {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 8rem;
}
.testimonials_section {
    display: flex;
    gap: 2rem;
}

.client_img {
    border-radius: 1rem;
}

.testimonials_right {
    padding: 4rem;
    display: flex;
    flex-direction: column;
}

.testimonials_head {
    font-size: 2.5rem;
    color: #fff;
}

.testimonials_sub_head {
    font-size: 1.2rem;
    color: #fff;
    line-height: 2rem;
    font-weight: 500;
    margin-top: 3rem;
}

.testimonials_sub_para {
    padding: 0.8rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    font-weight: 300;
    color: #FFDEE9;
}

.testimonials_list {
    padding: 2rem;
}

.testimonials_list_bullets {
    padding: 0.5rem;
    color: #FFDEE9;
    font-weight: 300;
}

.footer_section {
    max-width: 1280px;
    margin: 0 auto;
    height: 40vh;
    margin-top: 8rem;
}
.contact_us_section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_head {
    font-size: 2.5rem;
    color: #fff;
}
.icon {
    color: #fff;

}
.contact_card {
    margin-top: 3rem;
    padding: 1.5rem;

}
.contact_sub_head {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
}
.section_links {
    color: #fff;
    font-weight: 300;
    padding: 0.5rem;
    margin-top: 1rem;
}

/* @media (max-width: 400px) {
    .main_container {
        width: 90%;
        margin: 0 auto;
    }

    .main_container_section {
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .left_container {
        width: 100%;
        margin-left: 1rem;
    }

    .main_heading {
        
        font-size: 2.2rem;
        padding: 2rem;
    }

    .left_container {
        margin-left: 2rem;
        gap: 1rem;
    }
    .about_us_container {
        width: 90%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .about_section {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .about_card {
        justify-content: center;
        align-items: center;
        padding: 1 1rem;
        gap: 1rem;
        border-radius: 1rem;
        
    }
    .about_head{
        color: #16161a;
        font-weight: 700;
    }

    .about_para {
        width: 100%;
        padding: 1rem;
        margin-left: 0.5rem;
        color: #16161a;
    }
    .card1{
        background-color: #83c5be;
    }
    .card2{
        background-color: #e29578;
    }
    .card3{
        background-color: #f1f2f6;
    }

    .expertise_container{
        width: 90%;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .expertise_head{
        font-size: 2rem;
    }
    .bullets{
        display: none;
    }
    .expertise_section{
        margin-top: 1.3rem;
    }
    .expertise_card{
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 0.5rem;
        gap: 1rem;
        padding: 1rem;
        background-color: #ffeedd;
        border-radius: 1rem;
    }
    .expertise_sub_head{
        color: #16161a;
    }
    .expertise_sub_para{
        color: #16161a;
    }
    .advertising_container{
        width: 90%;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .advertising_section{
        flex-wrap: wrap;
    }
    .advertising_left_container{
        margin-left: 0.1rem;
    }
    .advertising_image{
        height: 25rem;
        width: 18.75rem;
        
        margin-right: 1rem;
    }
    .engaging_design{
        width: 90%;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .engaging_design_section{
        flex-wrap: wrap;
    }
    .engaging_design_head{
        font-size: 2rem;
    }
    .engaging_design_card{
        width: 100%
    }
    .engaging_design_para{
        margin-top: 1rem;
    }

    .performance_container{
        width: 90%;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .performance_head{
        font-size: 2rem;
        font-weight: bold;
    }
    .performance_container_card{
        width: 100%;
    }
    .performance_container_cards{
        gap: 2rem;
    }
    .testimonials_container{
        width: 90%;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .testimonials_section{
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    .testimonials_left{
        margin-left: 2rem;
    }
    .client_img{
        height: 25rem;
        width: 18.75rem;
        margin-right: 1rem;
    }
    .testimonials_right{
        width: 100%;
        padding: 2rem;
    }
    .footer_section{
        width: 90%;
        margin: 0 auto;
    }
    .contact_card{
        width: 50%;
        padding: 1.5rem;
    }
    .section_links{
        width: 50%;
        padding: 1rem;
    }


} */
/* Add this at the end of your CSS file */
@media only screen and (max-width: 768px) {
    .main_container_section {
        flex-direction: column;
        gap: 2rem;
    }

    .left_container {
        margin-left: 0;
    }

    .about_section {
        flex-direction: column;
    }

    .about_card {
        width: 100%;
        margin-left: 0;
    }

    .expertise_card {
        width: 100%;
        margin-left: 0;
    }

    .advertising_section {
        flex-direction: column;
    }

    .advertising_left_container {
        width: 100%;
        margin-left: 0;
    }

    .advertising_right_container {
        margin-top: 2rem;
        padding: 0;
    }

    .digital_procedure {
        margin-top: 3rem;
    }

    .engaging_design_section {
        flex-direction: column;
        gap: 2rem;
    }

    .engaging_design_card {
        width: 100%;
        margin-top: 3rem;
    }

    .performance_container_cards {
        flex-direction: column;
        gap: 3rem;
    }

    .performance_container_card {
        width: 100%;
        margin-top: 3rem;
    }

    .testimonials_section {
        flex-direction: column;
        gap: 2rem;
    }

    .testimonials_left {
        width: 100%;
    }

    .testimonials_right {
        padding: 2rem;
    }

    .contact_us_section {
        flex-direction: column;
        gap: 2rem;
    }

    .contact_card {
        width: 100%;
        margin-top: 2rem;
    }
}


